.jumbotron {
    background-color: dimgrey;
    color: black;
 }
 
 .cardOne {
    margin-top: 25px;
}
 
.btn-group{
    margin-bottom: 10px;
}

 .card-header {
    background-color: #3679b5;
    color: black;
 }

label{
    font-weight: bold;
}

#btn-add{
    cursor: pointer;
}

#name:hover, #destination:hover, #start:hover, #rate:hover{
border: 1px dashed red;
 }

 #backgroundVideo {
    position: fixed;
    right: -10%;
    bottom: 0;
   width: 120%;
    height: 120%;
    z-index: -1;
 }