body {
    cursor: pointer;
 }
 
 .jumbotron {
    background-color: dimgrey;
    color: black;
 }
 
 .cardOne {
    margin-top: 25px;
}
 
.btn-group{
    margin-bottom: 10px;
}

 .card-header {
    background-color: #3679b5;
    color: black;
 }
 @media screen and (max-width: 300px){
     
 }